/* --- Font Definitions --- */

@font-face {
  font-family: 'APL';
  src: url('APL333.ttf') format('truetype');
}

@font-face {
  font-family: 'BQN';
  src: url('BQN386.ttf') format('truetype');
}


/* --- Global and Text Styles --- */

body, input, select, textarea {
  font-family: 'BQN', sans-serif; 
}

body {
  text-align: justify;
}

a:link, a:visited {
  color: #267CB9;
  text-decoration: none;
}


/* --- Code Element Styles --- */

pre, code, kbd {
  font-family: 'BQN', monospace;
  background-color: #e3e7e7;
  color: #292929;
  font-size: 0.94em;
}

pre, pre.src {
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #eee;
}

pre.src {
  position: relative;
  margin: 0 2em;
  padding-top: 0.7em;
}


/* --- Layout --- */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-left {
  font-size: 1.5em;  
}
